.menu {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 20px;
  text-decoration: none;
  border: 1px solid white;
  cursor: pointer;

  @media screen and (max-width: 800px) {
    display: block;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.2)
  }
}