@import '../global/_variables.scss';

.menu {

  padding: 20px;
  text-decoration: none;
  background: $grey;
  color: $light;
  z-index: 1000;
  cursor: pointer;
  border: 0;

  &:hover {
    background: rgba(255, 255, 255, 0.2)
  }
}