@import '../global/_variables.scss';

.small-container {
  flex: 1;
  position: relative;
  padding: 20px;
  margin: 20px;
  background: $grey;
  color: $light;

  .title-container {
    position: absolute;
    top: -20px;
    left: -20px;


  }
}

.title {
  margin: 0px;
  text-align: left;
}