@import '../global/_variables.scss';

.small-container {
  flex: 1;
  position: relative;
  padding: 20px 20px 30px;
  margin: 0 40px 70px;
  background: $grey;
  color: $light;

  .title-container {
    margin-top: -40px;
    margin-left: -40px;
  }
}

.title {
  margin: 0px;
  text-align: left;
}