@import '../../styles/global/_typography.scss';
@import '../../styles/global/_pages.scss';
@import '../../styles/components/_anchor.scss';
@import '../../styles/components/_button.scss';
@import '../../styles/components/_grid.scss';
@import '../../styles/global/_variables.scss';
@import '../../styles/components/_small-container.scss';

.flex-grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 700px) {
    display: block;
  }
}

.flex-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 1100px) {
    display: block;
  }
}

.reset-ul {
  list-style-type: none;
  padding: 0;

  reset-li {
    list-style-type: none;
  }
}

.disable {
  opacity: 0.5;
}

.date-price {
  padding-top: 20px;
  .date, .price {
    font-size: 24px;
    margin: 0 0 5px;
  }
  .price {
    margin: 0 0 20px;
  }
}

.ticket-button {
  color: inherit;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid $light;
  flex: 1;
}

.button-container {
  padding: 20px 0;
  display: flex;
}

.grid.perks {
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 500px) {
    display: block;
  }

  .grid-item {
    list-style-type: none;
    text-align: center;
  }
}

.with-text-block {
  max-width: 720px;
  display: block;

  li {
    margin-top: 12px;
  }
}

.anchor {
  border-bottom: none;
  text-decoration: underline;
}

.item-discount {
  p {
    margin: 0;
  }
}
