@import '../../styles/global/_typography.scss';
@import '../../styles/global/_variables.scss';
@import '../../styles/components/_avatar.scss';

:host {
  display: block;
}

.speaker {
  display: block;
  padding: 0 20px;
}

.red-name {
  color: $red;
}

.green-name {
  color: $green;
}

.blue-name {
  color: $blue;
}

.red-bio {
  a {
    color: $red;
  }
}

.green-bio {
  a {
    color: $green;
  }
}

.blue-bio {
  a {
    color: $blue;
  }
}


.speaker-talk {
  color: inherit;
}