@import '../components/_menu.scss';

:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  min-height: 100vh;
  background: #3a3a3a;
  color: #efefef;
  grid-template-areas:
    "sidebar main main main";

  @media screen and (max-width: 800px) {
    display: block;
  }
}

.main {
  grid-area: main;
  display: block;
  min-height: 100vh;
  padding: 20px;

  &.hidden {
    display: none;
  }
}

side-bar {
  grid-area: sidebar;
  height: 100vh;

  @media screen and (max-width: 800px) {
    display: none;
  }

  &.open {
    display: block;
    width: 100%;
    position: fixed;
    padding-top: 20px;
    background: #3a3a3a;
  }
}

