@import '../../styles/global/_typography.scss';
@import '../../styles/global/_host-block.scss';

.schedule-name-title {
  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }
}

.parallel-sessions {
  padding: 0 20px 20px 20px;
}

.schedule {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


  @media screen and (max-width: 660px) {
    display: block;
  }
}

.schedule-time {
  width: 100px;
  margin: 23px 0 0 0;
}

.schedule-name {
  flex: 1;
}

.session-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;

  @media screen and (max-width: 660px) {
    display: none;
  }

  .workshop {
    flex: 1;
  }

  .location {
    flex: 1;
  }

  .info {
    flex: 1;
  }
}