@import '../../styles/global/_typography.scss';
@import '../../styles/global/_host-block.scss';

ul {
  display: grid;
  padding: 0px;
  margin: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  list-style-type: none;
}