@import '../../styles/global/_typography.scss';
@import '../../styles/global/_host-block.scss';
@import '../../styles/global/_variables.scss';
@import '../../styles/components/_small-container.scss';

:host {
  display: flex;
  align-items: stretch;
}

.small-container {
  text-align: right;
  width: 100%;
  margin: 0 20px;

  .speaker {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 1.5rem;
  }

  .workshop {
    font-size: 1.25rem;
  }


  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    text-decoration: underline;
  }
}

.title {
  margin: 0px;
  text-align: left;
}

h5 {
  margin: 0px;
  text-align: left;
}