@import '../../styles/global/_typography.scss';

:host {
  display: block;
}

.session {
  display: block;
  padding: 0 20px;
}

.red-name {
  color: $red;
}

.green-name {
  color: $green;
}

.blue-name {
  color: $blue;
}

.speaker-name {
  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }
}

.speaker-anchor {
  font-family: "acumin-pro", "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
