@import '../../styles/components/_anchor.scss';
@import '../../styles/global/_host-block.scss';

nav {}

.nav-list {
  margin: 0;
  list-style-type: none;
}

.nav-item {
  margin: 1rem auto;
}

.nav-anchor {
  border: none;
}