@import '../../styles/components/_anchor.scss';

:host {
  display: block;
}

nav {}

.nav-list {
  margin: 0;
  list-style-type: none;
}

.nav-item {
  margin: 1rem auto;
}

.nav-anchor {
  border: none;
}