@import '../../styles/global/_typography.scss';
@import '../../styles/global/_pages.scss';
@import '../../styles/components/_anchor.scss';
@import '../../styles/components/_button.scss';

:host {
  grid-template-areas:
    "main main main sidebar";
}

.main {
  display: flex;
  align-items: center;

  .container {
    text-align: center;
    width: 100%;
  }
}

ffc-logo {
  margin-bottom: 3rem;
  width: 400px;
}

.info {
  font-size: 1.5rem;
  margin-bottom: 0;
}
