@import '../../styles/global/_typography.scss';
@import '../../styles/global/_pages.scss';
@import '../../styles/components/_anchor.scss';
@import '../../styles/components/_button.scss';

:host {
  display: block;
  position: relative;
}

.main {
  display: flex;
  align-items: center;

  .container {
    text-align: center;
    width: 100%;
  }
}

ffc-logo {
  margin-bottom: 3rem;
  max-width: 400px;
}

.info {
  font-size: 1.5rem;
  margin-bottom: 0;
}

side-bar.open {
  z-index: 100;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
}

p {
  max-width: none;
}

.image-lower-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
  width: 50%;
  max-width: 400px;
}

.image-lower-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -10;
  width: 50%;
  max-width: 400px;
}

.image-top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
  width: 50%;
  max-width: 400px;
}