@import '../../styles/components/_menu.scss';
@import '../../styles/global/_variables.scss';

:host {
  display: block;
  width: 100%;
  background: $grey;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
}

.flex {
  flex: 1;
}

.mini-logo {
  width: 30px;
}

.menu-container {
  width: 145px;
}

.menu {
  display: inline-block;
}

.right {
  text-align: right;
}